body {
    font-family: Arial, sans-serif;
    background-color: #ededf3;
    color: #333;
    margin: 0;
    text-align: 20px;
    padding: 20px;
}

#nav-list {
    display: flex;
    gap: 20px;           
    list-style: none;    
    padding: 0;
    text-align: center;
    margin: 5;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(195, 204, 209);
    color: #333;
}

.logout-text {
    color: blue;
    text-decoration: underline;
    cursor: pointer; 
}